---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get/
    body:
      encoding: US-ASCII
      string: access_token=8996e844-2e56-301d-6e7f-381418&consumer_key=15466-ce68984d5b15a25a88b85a4c&detailType=complete&count=15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9992'
      X-Limit-Key-Reset:
      - '1979'
      X-Limit-User-Limit:
      - '320'
      X-Limit-User-Remaining:
      - '312'
      X-Limit-User-Reset:
      - '1979'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"status":1,"complete":1,"list":{"463256296":{"item_id":"463256296","resolved_id":"463256296","given_url":"https:\/\/www.quora.com\/Software-as-a-Service-SaaS\/EU-SaaS-companies-what-billing-and-online-payment-stack-are-you-using\/answer\/Oleg-Podsechin","given_title":"(3)
        Oleg Podsechin''s answer to Software-as-a-Service (SaaS): EU SaaS compan","favorite":"0","status":"0","time_added":"1382365203","time_updated":"1382365214","time_read":"0","time_favorited":"0","sort_id":0,"resolved_title":"Software-as-a-Service
        (SaaS): EU SaaS companies: what billing and online payment stack are you using?","resolved_url":"https:\/\/www.quora.com\/Software-as-a-Service-SaaS\/EU-SaaS-companies-what-billing-and-online-payment-stack-are-you-using\/answer\/Oleg-Podsechin","excerpt":"At
        StartHQ we have integrated with Stripe, which is available in UK, Ireland
        and other EU countries as well soon, even though we did experiment with Paymill
        originally. The reason was better API documentation and more polished offering.","is_article":"1","is_index":"0","has_video":"0","has_image":"0","word_count":"178","tags":{"interesting":{"item_id":"463256296","tag":"interesting"},"keep":{"item_id":"463256296","tag":"keep"},"read":{"item_id":"463256296","tag":"read"}}},"432481068":{"item_id":"432481068","resolved_id":"432481068","given_url":"http:\/\/blog.ircmaxell.com\/2013\/09\/rambling-on-internals.html#comment-form","given_title":"ircmaxell''s
        blog: Rambling On Internals","favorite":"0","status":"0","time_added":"1382235145","time_updated":"1382365109","time_read":"0","time_favorited":"0","sort_id":1,"resolved_title":"Rambling
        On Internals","resolved_url":"http:\/\/blog.ircmaxell.com\/2013\/09\/rambling-on-internals.html#comment-form","excerpt":"This
        is a post that I didn''t want to write. Actually, it''s a post that I still
        don''t want to write. But I find myself in a situation where I feel that I
        have to say something. So I''m going to just open up here. I''m going to put
        it all out on the table, and see what happens from there.","is_article":"1","is_index":"0","has_video":"1","has_image":"1","word_count":"1557","authors":{"1255014":{"item_id":"432481068","author_id":"1255014","name":"Anthony
        Ferrara","url":""}},"image":{"item_id":"432481068","src":"http:\/\/img.youtube.com\/vi\/ZSFDm3UYkeE\/0.jpg","width":"480","height":"360"},"images":{"1":{"item_id":"432481068","image_id":"1","src":"http:\/\/img.youtube.com\/vi\/ZSFDm3UYkeE\/0.jpg","width":"480","height":"360","credit":"","caption":""}},"videos":{"1":{"item_id":"432481068","video_id":"1","src":"\/\/www.youtube.com\/embed\/ZSFDm3UYkeE?rel=0","width":"525","height":"394","type":"1","vid":"ZSFDm3UYkeE"}}},"461576104":{"item_id":"461576104","resolved_id":"461547210","given_url":"http:\/\/nyti.ms\/19RfqrF","given_title":"","favorite":"0","status":"0","time_added":"1382191716","time_updated":"1382216499","time_read":"0","time_favorited":"0","sort_id":2,"resolved_title":"Reflections
        on a Paris Left Behind","resolved_url":"http:\/\/travel.nytimes.com\/2013\/10\/20\/travel\/reflections-on-a-paris-left-behind.html","excerpt":"Even
        Hemingway struggled with this city, work[...]
