---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get/
    body:
      encoding: US-ASCII
      string: access_token=8996e844-2e56-301d-6e7f-381418&consumer_key=15466-ce68984d5b15a25a88b85a4c&since=1380080012
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9996'
      X-Limit-Key-Reset:
      - '3529'
      X-Limit-User-Limit:
      - '320'
      X-Limit-User-Remaining:
      - '316'
      X-Limit-User-Reset:
      - '3529'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"status":2,"complete":0,"list":[],"since":1380080015}'
  recorded_at: Wed, 25 Sep 2013 03:33:36 GMT
- request:
    method: get
    uri: https://getpocket.com/v3/send?access_token=8996e844-2e56-301d-6e7f-381418&actions=%5B%5D&consumer_key=15466-ce68984d5b15a25a88b85a4c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Location:
      - send.php
      Content-Type:
      - text/html; charset=UTF-8
      Status:
      - 400 Bad Request
      Tcn:
      - choice
      X-Error:
      - Invalid request, please refer to API documentation
      X-Error-Code:
      - '130'
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9995'
      X-Limit-Key-Reset:
      - '3529'
      X-Limit-User-Limit:
      - '320'
      X-Limit-User-Remaining:
      - '315'
      X-Limit-User-Reset:
      - '3529'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: 400 Bad Request
  recorded_at: Wed, 25 Sep 2013 03:33:36 GMT
recorded_with: VCR 2.5.0
