---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get/
    body:
      encoding: US-ASCII
      string: access_token=8996e844-2e56-301d-6e7f-381418&consumer_key=15466-ce68984d5b15a25a88b85a4c&count=15&since=0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9999'
      X-Limit-Key-Reset:
      - '3600'
      X-Limit-User-Limit:
      - '320'
      X-Limit-User-Remaining:
      - '319'
      X-Limit-User-Reset:
      - '3600'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"status":1,"complete":1,"list":{"230977716":{"item_id":"230977716","resolved_id":"230977716","given_url":"http:\/\/blog.aizatto.com\/2007\/06\/01\/ruby-and-open-classes\/","given_title":"open","favorite":"0","status":"0","time_added":"1379183871","time_updated":"1379183876","time_read":"0","time_favorited":"0","sort_id":0,"resolved_title":"Ruby
        and Open Classes","resolved_url":"http:\/\/blog.aizatto.com\/2007\/06\/01\/ruby-and-open-classes\/","excerpt":"When
        I introduce people to Ruby (at least to programmers) I tend to highlight the
        differences between Ruby and established programming languages, such as Java,
        PHP, and C\/C++.","is_article":"1","is_index":"0","has_video":"0","has_image":"0","word_count":"846"},"437973075":{"item_id":"437973075","resolved_id":"437973075","given_url":"http:\/\/www.runtime-era.com\/2012\/12\/reopen-and-modify-ruby-classes-monkey.html","given_title":"Reopen
        and Modify Ruby Classes (Monkey Patching)","favorite":"0","status":"0","time_added":"1379176198","time_updated":"1379183879","time_read":"0","time_favorited":"0","sort_id":1,"resolved_title":"Reopen
        and Modify Ruby Classes (Monkey Patching)","resolved_url":"http:\/\/www.runtime-era.com\/2012\/12\[...]
