---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get/
    body:
      encoding: US-ASCII
      string: access_token=8996e844-2e56-301d-6e7f-381418&consumer_key=15466-ce68984d5b15a25a88b85a4c&since=0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9999'
      X-Limit-Key-Reset:
      - '3600'
      X-Limit-User-Limit:
      - '320'
      X-Limit-User-Remaining:
      - '319'
      X-Limit-User-Reset:
      - '3600'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"status":1,"complete":1,"list":{"436578156":{"item_id":"436578156","resolved_id":"432255434","given_url":"http:\/\/fredwu.me\/post\/60441991350\/protip-ruby-devs-please-tweak-your-gc-settings-for?utm_source=rubyweekly&utm_medium=email","given_title":"Fred
        Wu''s Blog","favorite":"0","status":"0","time_added":"1379001106","time_updated":"1379001106","time_read":"0","time_favorited":"0","sort_id":0,"resolved_title":"Protip
        : Ruby Devs, Please Tweak Your GC Settings for Tests! : Fred Wu''s Blog :
        Freelance Ruby on Rails, PHP, Front-end, UI Web Developer in Melbourne, Australia","resolved_url":"http:\/\/fredwu.me\/post\/60441991350\/protip-ruby-devs-please-tweak-your-gc-settings-for","excerpt":"It
        was made apparent to me that many ruby devs either aren\u2019t aware or couldn\u2019t
        be bothered to tweak their ruby garbage collector settings.  Well, if you
        are using MRI, please start tweaking your GC settings. Here\u2019s what I
        use (on my 15\u201d Macbook Pro Retina):","is_article":"1","is_index":"0","has_video":"0","has_image":"0","word_count":"106"},"142084439":{"item_id":"142084439","resolved_id":"142084439","given_url":"http:\/\/theamericanscholar.org\/reading-fast-and-slow\/#.Ui31eWTXgVk%E2%80%9D","given_title":"","favorite":"0","status":"0","time_added":"1378946517","time_updated":"1378946524","time_read":"0","time_favorited":"0","sort_id":1,"resolved_title":"Reading
        Fast and Slow","resolved_url":"http:\/\/theamericanscholar.org\/reading-fast-and-slow\/","excerpt":"In
        1986, an Italian journalist named Carlo Petrin[...]
