---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/get/
    body:
      encoding: US-ASCII
      string: access_token=8996e844-2e56-301d-6e7f-381418&consumer_key=15466-ce68984d5b15a25a88b85a4c&detailType=complete&count=15&since=0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Limit-Key-Limit:
      - '10000'
      X-Limit-Key-Remaining:
      - '9999'
      X-Limit-Key-Reset:
      - '3600'
      X-Limit-User-Limit:
      - '320'
      X-Limit-User-Remaining:
      - '319'
      X-Limit-User-Reset:
      - '3600'
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"status":1,"complete":1,"list":{"467960822":{"item_id":"467960822","resolved_id":"467960822","given_url":"http:\/\/crypt.codemancers.com\/posts\/2013-09-26-setting-up-emacs-as-development-environment-on-osx\/","given_title":"Setting
        up Emacs as Ruby development environment on OSX","favorite":"0","status":"0","time_added":"1382985970","time_updated":"1382985970","time_read":"0","time_favorited":"0","sort_id":0,"resolved_title":"Setting
        up Emacs as Ruby development environment on OSX","resolved_url":"http:\/\/crypt.codemancers.com\/posts\/2013-09-26-setting-up-emacs-as-development-environment-on-osx\/","excerpt":"Learning
        and setting up Emacs can be intimidating and while some folks find much use
        in using a pre-configured setup like - Emacs Prelude, I personally think it
        is better that someone new to Emacs installs each and every module himself
        and learns from it.","is_article":"1","is_index":"0","has_video":"0","has_image":"1","word_count":"932","image":{"item_id":"467960822","src":"http:\/\/crypt.codemancers.com\/assets\/images\/emacs\/auto-complete.png","width":"0","height":"0"},"images":{"1":{"item_id":"467960822","image_id":"1","src":"http:\/\/crypt.codemancers.com\/assets\/images\/emacs\/auto-complete.png","width":"0","height":"0","credit":"","caption":""},"2":{"item_id":"467960822","image_id":"2","src":"http:\/\/crypt.codemancers.com\/assets\/images\/emacs\/enh-ruby-mode.png","width":"0","height":"0","credit":"","caption":""},"3":{"item_id":"467960822","image_id":"3","src":"http:\/\/crypt.codemancers.com\/assets\/images\/emacs\/rainbow-mode.png","width":"0","height":"0","credit":"","caption":""}}},"189522637":{"item_id":"189522637","resolved_id":"189522637","given_url":"http:\/\/blog.gittip.com\/post\/26350459746\/the-first-open-company","giv[...]
