<h1>Cleanist</h1>
<p class="lead">An application that cleans your reading list, giving you less clutter and peace in mind. </p>

<a class="btn btn-pocket btn-large" href="/auth/pocket"><i class="icon-chevron-down"></i> Pocket</a>

<footer>
	<p>Created by <a href="http://twitter.com/irosenb">Isaac Rosenberg</a>.</p>
</footer>


