// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Pocket button color
.btn-pocket {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #CF122A;
	*background-color: #CF122A;
	background-image: -moz-linear-gradient(top, #EE4056, #CF122A);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE4056), to(#CF122A));
	background-image: -webkit-linear-gradient(top, #EE4056, #CF122A);
	background-image: -o-linear-gradient(top, #EE4056, #CF122A);
	background-image: linear-gradient(to bottom, #EE4056, #CF122A);
	background-repeat: repeat-x;
	border-color: #CF122A;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE4056', endColorstr='#CF122A', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-pocket:hover,
.btn-pocket:active,
.btn-pocket.active,
.btn-pocket.disabled,
.btn-pocket[disabled] {
	color: #FFFFFF;
	background-color: #CF122A;
	*background-color: #003bb3;
}